/* .category {
    margin: 2vh 1vw;
}

.category h1 {
    font-size: 1rem;
    font-weight: bolder;
    margin: 1vh;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-list li {
    margin: 0 2vw 4vh 2vw;
    padding-bottom: 2vh 0;
    border-bottom: 2px solid white;
}

.category-list li:hover {
    border-bottom: 2px solid blue;
    cursor: pointer;
}

.image {
    height: 15vh;
    width: 60%;
    padding: 3vh 3vw;
}

.product-list {
    display: flex;
    justify-content: center;
    background: lightgray;
    border-radius: 10px;
}

.product {
    background: white;
    padding: 1vh 2vw;
    margin: 0.5vh 0.5vw;
    border-radius: 10px;
}

.title {
    font-weight: bolder;
    font-size: 15px;
}

.price {
    margin: 1vh 0;
}

@media(max-width: 480px) {
    .product-list {
        flex-flow: wrap column;
    }
} */