.dashboard {
    background: url('../images/dashboard-bg.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    /* color: white;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    margin: 0 1vh; */
}
/* 
.dashboard-1 {
    width: 40%;
    height: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dashboard-1 h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 5vh 0;
}

.dashboard-1 p {
    color: darkgray;
    margin: 2vh 0;
}

.dashboard-1 button {
    padding: 1.5vh 2vw;
    width: 20%;
    border: none;
    background: white;
    border-radius: 10px;
}

@media(max-width: 1253px) {
    .dashboard-1 {
        width: 90%;
    }
}

@media(max-width: 560px) {

    .dashboard {
        height: 30vh;
    }
    .dashboard-1 {
        width: 100%;
    }

    .dashboard-1 h1 {
        font-size: 20px;
        margin: 2vh 0;
    }

    .dashboard-1 p {
        font-size: 10px;
    }

    .dashboard-1 button {
        width: 30%;
    }
} */