/* .footer {
    background: black;
    color: white;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-around;
}

.footer-2, .footer-3, .footer-4, .footer-2 li, .footer-3 li, .footer-4 li, .footer-1 img, .footer-1 p {
    margin: 1vh 0;
}

.footer-1, .footer-2, .footer-3, .footer-4 {
    width: 20%;
}

.footer-image {
    width: 80%;
}
 */
.footer-image, .social-handle li img {
    filter: invert();
}
/* 
.app-store{
    width: 30%;
}

.play-store {
    width: 40%;
}

.social-handle {
    display: flex;
    justify-content: center;
}

.social-handle li img {
    width: 30%;
}

.download-store {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:560px) {

    .footer {
        flex-flow: column wrap;
    }

    .footer-1, .footer-2, .footer-3, .footer-4 {
        width: 100%;
    }

    .footer-image {
        width: 30%;
        margin: 1vh 0;
    }
    
    .app-store {
        width: 25%;
        margin: 1vh 1vw;
    }
    
    .play-store {
        width: 35%;
    }
    
    .social-handle {
        display: flex;
        justify-content: center;
    }
    
    .social-handle li img {
        margin: 0 1vw;
        width: 20%;
    }
} */