/* .menu-icon {
    display: none;
    width: 3%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1vh 1vw;
    margin: 0 1vw;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin: 0 1vw;
    font-size: medium;
}

.brand-logo {
    width: 10%;
}

.user button {
    background: white;
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user button:hover {
    background: black;
    color: white;
}

@media(max-width: 720px) {
    .menu, .user {
        display: none;
    }

    .brand-logo {
        width: 20%;
    }

    .menu-icon {
        display: inline;
        width: 3%;
        cursor: pointer;
    }

} */