/* .products-heading {
    margin: 1vh 0;
    font-size: 2rem;
    font-weight: bolder;
}

.products-1 {
    margin: 0 2vw;
    display: flex;
    justify-content: space-between;
}

.products-1 button {
    border: none;
    background: white;
    padding: 0 2vw;
    border-radius: 10px;
}

.products-1 button:hover {
    background: black;
    color: white;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 12%;
    margin: 2vh 0.5vw;
    padding: 1vh 5vh;
    background: lightgray;
    border-radius: 10px;
}

.products-image {
    background: inherit;
    height: 15vh;
    width: 100%;
}

.products-title {
    font-size: 1rem;
    font-weight: bolder;
    margin: 1vh 0;
}

.products-price {
    margin: 1vh 0;
} */