.why {
    margin: 2vh 2vw;
    text-align: left;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-repeat: no-repeat;
    background: url("../images/model.png");
}

.why h1 {
    width: 50%;
    font-size: 2rem;
    font-weight: bolder;
}

.why p {
    width: 50%;
}

.why button {
    width: 10%;
}